<div class="mat-elevation-z8"> 
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            
            <label for="firstName">FirstName</label>
            <input type="text" required [(ngModel)]="user.firstName" name="firstName" class="form-control" id="firstName">
         </div>
         <div class="form-group">
            
            <label for="lastName">LastName</label>
            <input type="text" required [(ngModel)]="user.lastName" name="lastName" class="form-control" id="lastName">
         </div>
         <div class="form-group">
            
            <label for="employeeId">Employee Id</label>
            <input type="text" required  [(ngModel)]="user.employeeId" name="employeeId" class="form-control" id="employeeId">
         </div>
         
        <button type="submit" class="btn btn-success" style="margin-left: 10px;">Add</button>
        <button type="reset" class="btn btn-success" style="margin-left: 10px;">Reset</button>
        <button class="btn btn-primary active" (click)="viewUser()" style="margin-left: 200px;"> View User</button>
        
   </form>
   </div>
   
   