
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
                <label for="project">Project</label>
                <select [(ngModel)]="task.projectId" name="projectId">  
                        <option *ngFor="let project of projects | async" [ngValue]="project.projectId">{{project.projectName}} </option>  
                </select>             
        </div>
        <div class="form-group">
            
            <label for="task">Task</label>
            <input type="task"  [(ngModel)]="task.task" name="task" class="form-control" id="task">
         </div>
        <div class="form-group">
          <label for="priority">Priority</label>
          <mat-slider min="1" max="5" step="0.5" value="1.5" [(ngModel)]="task.priority" name="priority"></mat-slider>
        </div>
        <div class="form-group">
            <label for="parentTask">Parent Task</label>
            <input type="text" class="form-control" id="parentTask" required [(ngModel)]="task.parentTask" name="parentTask">
        </div>

        <div class="form-group">
            <label for="startDate">Start date</label>
            <mat-form-field>
           <input matInput [matDatepicker] = "startDate" [(ngModel)]="task.startDate" name="startDate" placeholder = "Choose a date">
           <mat-datepicker-toggle matSuffix [for] = "startDate"></mat-datepicker-toggle>
           <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
       </div>
       <div class="form-group">
        <label for="endDate">End date</label>
        <mat-form-field>
       <input matInput [matDatepicker] = "endDate" [(ngModel)]="task.endDate" name="endDate" placeholder = "Choose a date">
       <mat-datepicker-toggle matSuffix [for] = "endDate"></mat-datepicker-toggle>
       <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <div class="form-group">
            <label for="manager">User</label>
            <select [(ngModel)]="task.userId" name="userId">  
                    <option *ngFor="let user of users | async" [ngValue]="user.userId">{{user.firstName}} </option>  
            </select>  
        </div>
   </div>
        <button type="submit" class="btn btn-success">Add Task</button>
        <button type="reset" class="btn btn-success">Reset</button>
    </form>
</div>

