<div class="panel panel-default">
  <div class="panel-heading">
      <h1>View Task</h1>
  </div>
  <div>
    <label for="project">Project</label>
    <select [(ngModel)]="selectedValue" (change)="selectchange($event)">  
            <option *ngFor="let project of projects | async" [ngValue]="project.projectId">{{project.projectName}} </option>  
    </select>             
</div>
 <!-- <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Task</th>
                  <th>Parent</th>
                  <th>Priority</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let task of tasks | async">
                    <td>{{task.taskId}}</td>
                  <td>{{task.task}}</td>
                  <td>{{task.parentTask}}</td>
                  <td>{{task.priority}}</td>
                  <td>{{task.startDate}}</td>
                  <td>{{task.endDate}}</td>
                <!-- <td><button >Edit</button></td> -->
                <!--  <td><a routerLink="edit" class="btn btn-primary active" role="button" routerLinkActive="active">Edit</a>
                  </td>
                 <td> <button class="btn btn-primary active" (click)="editTask(task)" style="margin-left: 20px;"> Edit</button>
                  <button class="btn btn-primary active" (click)="endTask(task)">End Task</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<div> -->
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
         <ng-container matColumnDef="task">
           <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 100px;">    Task     </th>
           <td mat-cell *matCellDef="let task" style="width: 100px;"> {{task.task}} </td>
         </ng-container>
         <ng-container matColumnDef="parentTask">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 100px;">   Parent     </th>
            <td mat-cell *matCellDef="let task" style="width: 100px;"> {{task.parentTask}} </td>
          </ng-container>
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 100px;">Priority </th>
            <td mat-cell *matCellDef="let task" style="width: 100px;"> {{task.priority}} </td>
          </ng-container>
         <ng-container matColumnDef="startDate">
           <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 100px;"> Start Date </th>
           <td mat-cell *matCellDef="let task" style="width: 100px;"> {{task.startDate}} </td>
         </ng-container>
        
         <ng-container matColumnDef="endDate">
           <th mat-header-cell *matHeaderCellDef  mat-sort-header style="width: 100px;">End Date </th>
           <td mat-cell *matCellDef="let task" style="width: 100px;"> {{task.endDate}} </td>
         </ng-container>

       
         <ng-container matColumnDef="edit">
             <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Edit </th>
             <td mat-cell *matCellDef="let task" style="width: 100px;">
               <button mat-icon-button color="accent" (click)="editTask(task)">
                   <mat-icon class="mat-18">Update</mat-icon>
               </button>
             </td>
           </ng-container>
          
           <ng-container matColumnDef="end">
               <th mat-header-cell *matHeaderCellDef style="width: 100px;"> End Task </th>
               <td mat-cell *matCellDef="let task" style="width: 100px;">
                 <button mat-icon-button color="accent" (click)="endTask(task)">
                     <mat-icon class="mat-18">Suspend</mat-icon>
                 </button>
               </td>
             </ng-container>
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
       </table>
   
   </div>